/*  #FFFFFF #111111 #333333 #ff4655 #000A1F*/

.agents-container {
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #000A1F;
}

.agent {
  display: grid;
	grid-template-columns: 1fr 250px 3fr 250px 1fr;
	background-color: #000A1F;
}
ul.agents-id,
ul.agents-name {
	align-self: center;
	grid-row-start: 2;
	grid-row-end: 3;
}
ul.agents-id {
	grid-column-start: 1;
	grid-column-end: 2;
	justify-self: end;
}
ul.agents-name,
.agents-name {
	font-size: 39px;
	font-weight: 600;
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: start;
}
.agent-scrollbox {
	height: 300px;
	overflow-y: scroll;
}
.agent-scrollbox::-webkit-scrollbar {
	display: none;
}



