/*  #FFFFFF #111111 #333333 #ff4655 #000A1F*/
/* test: color #0d1a27 */
.primary-container {
  background-image: linear-gradient(to right, #0d1a27 50%, #ff4655);
}
.secondary-container {
  background-color: white;
}
.agent,
.horizontal-agent-container {
  display: grid;
  grid-template-columns: 40px calc(100% - 650px) 4fr;
} 
ul.agents-id,
ul.agents-name {
  align-self: center;
  grid-row-start: 2;
  grid-row-end: 3;
}
ul.agents-id {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
}
ul.agents-name,
.agents-name a {
  position: relative;
  display: block;
  width: 500px;
  font-size: 75px;
  font-weight: 600;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: start;
}
ul.agents-name {
  transition: 0.2s ease-in-out;
}
ul.agents-name:hover {
  transform: translateX(10px);
  transition-duration: 0.2s;
}
.agent-scrollbox {
  position: relative;
  z-index: 2;
  height: 600px;
  width: 50vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
.agent-scrollbox::-webkit-scrollbar {
  display: none;
}
video {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 50vw;
  height: 600px;
}

@media only screen and (max-width: 1024px) {
  .primary-container {
    position: relative;
    margin-top: 45px;
    margin-right: 0;
    background-image: linear-gradient(to right, #0d1a27 50%, #ff4655);
  }
  .agent-scrollbox {
    width: 100vw;
  }
  .horizontal-scroll-container {
    overflow: auto;
    white-space: nowrap;
  }
  .horizontal-scroll-container::-webkit-scrollbar {
    display: none;
  }
  .agent {
		display: inline-block;
	}
	.horizontal-agent-container {
		display: grid;
		grid-template-columns: 30px 1fr 30px;
		grid-template-rows: 80px 1fr;
	}
  ul.agents-id {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		justify-self: start;
  }
	ul.agents-name,
	.agents-name a {
		width:auto;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		justify-self: start;
  }

}

