/*  #FFFFFF #111111 #333333 #ff4655 #000A1F*/

.primary-container {
	/* background-image: linear-gradient(to right, #000A1F 50%, #FFFFFF); */
	/* background-image: linear-gradient(90deg, #000A1F 50%, #FFFFFF 50%); */
	background-image: linear-gradient(to right, #000A1F 50%, #ff4655);
	/* background-image: linear-gradient(90deg, #000A1F 50%, #ff4655 50%); */
}
.secondary-container{
	background-color: white;
	/* height: 400px; */
}
.agent {
	display: grid;
	grid-template-columns: 50px 4fr;
	/* min-width: 400px; */
}
ul.agents-id,
ul.agents-name {
	align-self: center;
	grid-row-start: 2;
	grid-row-end: 3;
}
ul.agents-id {
	grid-column-start: 1;
	grid-column-end: 2;
	justify-self: end;
}
ul.agents-name,
.agents-name {
	font-size: 60px;
	font-weight: 600;
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: start;
}
.agent-scrollbox {
	position: relative;
	z-index: 2;
	height: 400px;
	width: 50vw;
	overflow-y: scroll;
}
.agent-scrollbox::-webkit-scrollbar {
	display: none;
}



