.initial-color {
  color: black;
}
.agent-image-container-id {
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(12, 55px);
}

.agents-image-id {
  position: relative;
  z-index: 2;
  width: auto;
  max-height: 700px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  justify-self: center;
  pointer-events: none;
}

.description-container-id {
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 55px);
}

.intro-title {
  font-size: 15px;
  align-self: end;
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.intro-des {
  font-size: 30px;
  font-weight: bold;
  color: #111111;
  justify-self: start;
  align-self: center;
  grid-row-start: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

@media only screen and (max-width: 1399px) {
  .agent-image-container-id {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 55px);
  }
  .agents-image-id {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .description-container-id {
    grid-template-columns: calc(100% - 1350px) 1fr 1fr 1fr;
    grid-template-rows: repeat(18, 55px);
  }
  .intro-title {
    color: #000000;
    grid-row-start: 15;
    grid-column-start: 2;
  }
  .intro-des {
    grid-row-start: 16;
    grid-column-start: 2;
  }
}