.initial-color {
  color: black;
}
.agent-image-container-id {
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  color: red;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(12, 55px);
}

.agents-image-id {
  position: relative;
  z-index: 2;
  width: 500px;
  max-height: 500px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  justify-self: center;
  clip-path: inset(0 10px);
  user-select: none;
}

.description-container-id {
  position: absolute;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  color: red;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(12, 55px);
}

.intro-title {
  font-size: 10px;
  align-self: end;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}
.intro-des {
  font-size: 30px;
  font-weight: bold;
  color: #111111;
  justify-self: start;
  align-self: center;
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}