/*  #FFFFFF #111111 #333333 #ff4655 #000A1F*/

.primary-container {
  background-image: linear-gradient(to right, #0d1a27 50%, #ff4655);
}
.create-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(18, 35px);
  height: 600px;  
  position: relative;
  z-index: 1;
}
input, textarea {
  color: #000000;
  width: 150px;
}
textarea {
  width: 150px;
  height: 50px;
  resize: none;

}
.item-title-create {
  z-index: inherit;
  grid-column-start: 4;
  grid-row-start: 7;
  justify-self: start;
  align-self: center;
}
.item-title-your {
  z-index: inherit;
  grid-column-start: 5;
  grid-row-start: 8;
  justify-self: start;
  align-self: center;
}
.item-title-agent {
  z-index: inherit;
  grid-column-start: 6;
  grid-row-start: 9;
  justify-self: start;
  align-self: center;
}
.item-image-create {
  z-index: inherit;
  grid-column-start: 15;
  grid-row-start: 4;
  justify-self: start;
  align-self: center;
}
.item-image-input {
  z-index: inherit;
  grid-column-start: 15;
  grid-row-start: 5;
  justify-self: start;
  align-self: center;
}
.item-name-create {
  z-index: inherit;
  grid-column-start: 15;
  grid-row-start: 6;
  justify-self: start;
  align-self: center;
}
.item-name-input {
  z-index: inherit;
  grid-column-start: 15;
  grid-row-start: 7;
  justify-self: start;
  align-self: center;
}
.item-role-create {
  z-index: inherit;
  grid-column-start: 15;
  grid-row-start: 8;
  justify-self: start;
  align-self: center;
}
.item-role-input {
  z-index: inherit;
  grid-column-start: 15;
  grid-row-start: 9;
  justify-self: start;
  align-self: center;
}
.item-bio-create {
  z-index: inherit;
  grid-column-start: 15;
  grid-row-start: 10;
  justify-self: start;
  align-self: center;
}
.item-bio-textarea {
  z-index: inherit;
  grid-column-start: 15;
  grid-row-start: 11;
  justify-self: start;
}
.item-secondary {
  z-index: inherit;
  grid-column-start: 15;
} 
.item-create-button {
  z-index: inherit;
  width: 100px;
  grid-column-start: 15;
  grid-row-start: 12;
  justify-self: center;
}

button {
  background-color: #000A1F;
  color: #ff4655;
  border: none;
  padding: 3px;
}
