/*  #FFFFFF #111111 #333333 #ff4655 #000A1F*/
.agent-image-container {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  grid-template-columns: 1fr 250px 3fr 250px 1fr;
  grid-template-rows: repeat(12, 55px);
}
.agents-image {
  position: relative;
  z-index: 2;
  width: auto;
  max-height: 650px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  justify-self: center;
  pointer-events: none;
}
.description-container {
  position: absolute;
  z-index: 1;
  width: 100vw;
  display: grid;
  color: red;
  grid-template-columns: 1fr 350px 3fr 350px 1fr;
  grid-template-rows: repeat(12, 55px);
}

.item-role {
  font-size: 15px;
  align-self: end;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
.item-role-des {
  font-size: 30px;
  font-weight: bold;
  color: #111111;
  justify-self: start;
  align-self: center;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}
.item-bio {
  font-size: 15px;
  align-self: center;
  grid-row-start: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.item-bio-des {
  font-size: 15px;
  font-weight: 400;
  grid-row-start: 5;
  grid-row-end: 10;
  grid-column-start: 4;
  grid-column-end: 5;
}
